#Locations {
  height: auto;
  width: 100vw;
  position: relative;
  padding: 80px 0;
  background-image: url('../../../assets/combobowl.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-soon-banner {
  position: absolute;
  left: -22%;
  top: -11%;
  width: 200px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.75);
}

.locations-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.58);
  padding-bottom: 15px;
  color: white;
  margin-bottom: 50px;
}

.location-top-container {
  position: relative;
  margin-bottom: 50px;
}

.map-sub-containers {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  font-size: 18px;
  color: white;
}

.address-container {
  text-align: right;
  padding-left: 0;
}

.locations-map-container {
  height: 300px;
  font-size: 0;
  margin: 15px 0;
}

.address-city-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  color: rgb(252,25,25);
  border-bottom: rgba(255, 255, 255, 0.14) 1px solid;
  font-weight: bold;
  padding-bottom: 8px;
}

.address-text {
  margin: 0;
  line-height: 2em;
  font-size: 20px;
}

#map {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  border-top: 1px rgba(0,0,0,0.2) solid;
  border-left: 1px rgba(0,0,0,0.2) solid;
  border-bottom: 1px rgba(0,0,0,0.2) solid;
  border-right: 2px rgba(0,0,0,0.2) solid;
}

#map2 {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  border-top: 1px rgba(0,0,0,0.2) solid;
  border-bottom: 1px rgba(0,0,0,0.2) solid;
  border-right: 1px rgba(0,0,0,0.2) solid;
}

.contact-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.58);
  padding-bottom: 15px;
  color: white;
  margin-bottom: 30px;
}

.contact-master-container {
  font-size: 0;
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 0;
}

.contact-containers {
  font-size: 0;
  display: inline-block;
  height: 100%;
  width: 50%;
  position: relative;
  vertical-align: top;
}

.contact-info {
  background-color: #292929;
  padding: 0 0 0 5%;
}

.contact-info-container {
  height: 100%;
  padding: 25px;
}

.map-container {
  background-color: white;
}

.contact-info:after {
  border-right: 403px solid transparent;
  border-top: 500px solid #292929;
  content: "";
  height: 100%;
  position: absolute;
  right: -403px;
  top: 0;
  width: 1px;
  z-index: 555;
}

.contact-icons {
  font-size: 35px; color: White;
}

.contact-section-container {
  width: 100%;
  border: 1px solid red;
  height: 350px;
  font-size: 0;
  position: relative;
}

.maps {
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  #Locations {
    height: 775px;
    padding: 35px 15px;
  }
  .locations-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .address-city-heading {
    font-size: 20px;
  }
  .locations-map-container {
    height: auto;
    margin-bottom: 15px;
    position: relative;
  }
  .address-text {
    font-size: 16px;
  }
  .address-container {
    text-align: left;
  }
  #map, #map2 {
    height: 200px;
  }
  .coming-soon-banner {
    position: absolute;
    left: 48%;
    z-index: 999;
    top: -26%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 750px) {
  #Locations {
    padding: 35px 15px;
  }

  .locations-heading {
    font-size: 24px;
  }
  .address-text {
    font-size: 16px;
    line-height: 1.5em;
  }
  .address-container {
    text-align: left;
  }
  .address-city-heading {
    font-size: 20px;
  }
  #map, #map2 {
    margin-top: 15px;
    height: 200px;
  }
  .locations-map-container {
    height: auto;
    margin-bottom: 35px;
    position: relative;
  }

    .coming-soon-banner {
      position: absolute;
      left: 65%;
      transform: rotate(45deg);
      z-index: 999;
      width: 200px;
    }
}
