<div id="Locations">

  <div class="overlay"></div>
  <div class="location-top-container container">
    <h1 class="locations-heading">Locations</h1>
    <div class="locations-map-container row">
      <div class="col-md-4 col-12 address-container map-sub-containers">
        <h2 class="address-city-heading">Lakewood</h2>
        <p class="address-text">5526 Del Amo Boulevard</p>
        <p class="address-text">Lakewood, CA 90713</p>
        <br>
        <p><strong>Hours of Operation</strong></p>
        <p>Monday - Saturday: 11am to 8pm</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-md-8 col-12 map-sub-containers" id="map"></div>
    </div>
    <div class="col-md-12 col-12 text-center takeout-links-container">
      <h4>Takeout / Delivery Services</h4>
      <a href="https://www.grubhub.com/restaurant/genkiyaki-5526-del-amo-blvd-lakewood/550374?classicAffiliateId=%2Fr%2Fw%2F83601%2Frestaurant%2F550374" target="_blank">
        <img src="../../../assets/grubhublogo.png" alt="grubhublogo" class="postmateslogo">
      </a>
      <a href="https://postmates.com/merchant/genkiyaki-5526-del-amo-blvd" target="_blank">
        <img src="../../../assets/postmateslogo.png" alt="postmateslogo" class="postmateslogo">
      </a>

    </div>
    <div class="locations-map-container row">
      <div class="col-md-4 col-12 address-container map-sub-containers">
        <img src="../../../assets/nowopen.png" alt="comingsoon" class="coming-soon-banner">
        <h2 class="address-city-heading">Riverside</h2>
        <p class="address-text">1400 University Avenue Ste 109A</p>
        <p class="address-text">Riverside, CA 92507</p>
        <br>
        <p><strong>Hours of Operation</strong></p>
        <p>Monday - Sunday: 11am to 9pm</p>
      </div>
      <div class="col-md-8 col-12 map-sub-containers" id="map2"></div>
    </div>
    <div class="col-md-12 col-12 text-center takeout-links-container">
      <h4>Takeout / Delivery Services</h4>
      <a href="https://www.grubhub.com/restaurant/genkiyaki-1400-university-ave-ste-a109-riverside/876700?classicAffiliateId=%2Fr%2Fw%2F89455%2Frestaurant%2F876700" target="_blank">
        <img src="../../../assets/grubhublogo.png" alt="grubhublogo" class="postmateslogo">
      </a>
      <a href="https://postmates.com/merchant/genkiyaki-riverside" target="_blank">
        <img src="../../../assets/postmateslogo.png" alt="postmateslogo" class="postmateslogo">
      </a>
      <a href="https://www.ubereats.com/en-US/palm-springs/food-delivery/genkiyaki/aYmKcrBYQvqLRha_J0ZKLw/" target="_blank">
        <img src="../../../assets/ubereatslogo.jpg" alt="ubereatslogo" class="postmateslogo">
      </a>
      <a href="https://www.eat24.com/order-online/genkiyaki-1400-university-ave-ste-a109-riverside/876700" target="_blank">
        <img src="../../../assets/eat24logo.jpg" alt="eat24logo" class="postmateslogo">
      </a>
    </div>
  </div>
</div>
