<div id="Locations">
  <div class="overlay"></div>
  <div class="location-top-container container">
    <h1 class="locations-heading">Locations</h1>
    <div class="locations-map-container row">
      <div class="col-md-4 col-12 address-container map-sub-containers">
        <h2 class="address-city-heading">Lakewood</h2>
        <p class="address-text">5526 Del Amo Boulevard</p>
        <p class="address-text">Lakewood, CA 90713</p>
      </div>
      <div class="col-md-8 col-12 map-sub-containers" id="map"></div>
    </div>
    <div class="locations-map-container row">
      <div class="col-md-4 col-12 address-container map-sub-containers">
        <h2 class="address-city-heading">Riverside</h2>
        <p class="address-text">5526 Del Amo Boulevard</p>
        <p class="address-text">Lakewood, CA 90713</p>
      </div>
      <div class="col-md-8 col-12 map-sub-containers" id="map2"></div>
    </div>
  </div>
</div>
