<div id="About">
  <div class="container">
    <div class="row">
      <div class="col-8 about-us-text-container">
        <h1 class="about-heading">About Us</h1>
        <p class="about-us-text">Genkiyaki was Established on May 6th 2009. We are an Asian fusion restaurant that specializes in fusing Korean, American, Mexican, and Japanese food. Our food is AKA "Stoner Food". The name, “Genkiyaki”  is a combination of the Japanese words “genki”(元気) , meaning “health, and “yaki”(焼き), meaning, “grill.”</p>
        <p class="about-us-text">Our primary focus is to provide affordable, quality food that is cooked-to-order on a flaming, hot grill. We also specialise in spicy foods like our "Death Tacos" . Everything that is an unique genki only item, you could guarantee that there will be a nice spicy kick to it. We hope to continue serving our customers for years to come and bring tears to every challenger we face.</p>
        <button class="btn btn-danger" type="button">Check out our menu here!</button>
      </div>
      <div class="col-4 about-us-picture-container">
        <img src="../../../assets/david.jpg" alt="david" class="david-pic">
        <img src="../../../assets/fries.jpg" alt="fries" class="pic-1">
        <img src="../../../assets/taco.jpg" alt="taco" class="pic-2">
        <img src="../../../assets/bbqplate.jpg" alt="bbqplate" class="pic-3">
      </div>
    </div>
  </div>
</div>
