.footer {
  position: relative;
  height: 25vh;
  width: 100vw;
  /*background-color: #ce3012;*/
  background-image: url('../../../assets/food.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: 999;
}

.footer-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(208, 48, 18, 0.8);
}

.sub-container-container {
  height: 100%;
}

.footer-container {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.footer-sub-containers {
  height: 100%;
  color: white;
}

.footer-headings {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  padding-bottom: 8px;
  margin-bottom: 15px;
}
p {
  margin: 0;
}

.fa-icons {
  margin-right: 10px;
}

.genki-email {
  color: white;
}

.fa-social-icons {
  color: white;
  margin-right: 10px;
}

.copyright {
  color: rgba(255,255,255,0.9);
}
