.footer {
  position: relative;
  height: 25vh;
  width: 100vw;
  z-index: 999;
}

.footer-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(252, 25, 25);
}

.sub-container-container {
  height: 100%;
}

.footer-container {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.footer-sub-containers {
  height: 100%;
  color: white;
}

.footer-headings {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  padding-bottom: 8px;
  margin-bottom: 15px;
}
p {
  margin: 0;
}

.fa-icons {
  margin-right: 10px;
}

.genki-email {
  color: white;
}

.fa-social-icons {
  color: white;
  margin-right: 10px;
}

.copyright {
  color: rgba(255,255,255,0.9);
}

.eklogo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

@media (min-width:751px) {
  .mobile-footer {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .footer {
    height: 50vh;
    background-color: rgb(252,25,25);
    background-image: none;
    padding: 25px;
  }

  .footer-overlay {
    display: none;
  }

  .mobile-footer-row {
    height: 75px;
    border: 1px solid rgba(255, 255, 255, 0.31);
    margin-bottom: 10px;
  }

  .footer-container {
    display: none;
  }
  .footer-text {
    color: white;
  }
  .mobile-footer-content {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .mobile-footer-icon-container {
    border: 1px solid rgba(255, 255, 255, 0.31);
  }
  .mobile-footer-icons {
    font-size: 25px;
  }
  .copyright {
    margin-top: 15px;
    font-size: 12px;
  }
  .eklogo {
    .display: none;
  }
  .eklogo-mobile {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 750px) {
  .footer {
    height: auto;
    background-color: rgb(252,25,25);
    background-image: none;
    padding: 25px;
  }

  .footer-overlay {
    display: none;
  }

  .mobile-footer-row {
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.31);
    margin-bottom: 10px;
  }

  .footer-container {
    display: none;
  }
  .footer-text {
    color: white;
  }
  .mobile-footer-content {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .mobile-footer-icon-container {
    border: 1px solid rgba(255, 255, 255, 0.31);
  }
  .mobile-footer-icons {
    font-size: 25px;
  }
  .copyright {
    margin-top: 20px;
    font-size: 12px;
  }

  .eklogo {
    display: none;
  }
  .eklogo-mobile {
    width: 30px;
    height: 30px;
  }
}
