<div class="footer">
  <div class="footer-overlay"></div>
  <div class="container footer-container">
    <div class="row sub-container-container">
      <div class="col-md-3 footer-sub-containers">
        <p class="footer-headings">Address</p>
        <p>5526 Del Amo Boulevard</p>
        <p>Lakewood, CA 90713</p>
      </div>
      <div class="col-md-3 footer-sub-containers">
        <p class="footer-headings">Operating Hours</p>
        <p>Mon&nbsp;-&nbsp;Fri: 11:00&nbsp;AM - 8:00&nbsp;PM</p>
        <p>Sun:&nbsp;Closed</p>
      </div>
      <div class="col-md-3 footer-sub-containers">
        <p class="footer-headings">Contact</p>
        <p><i class="fa fa-phone fa-icons" aria-hidden="true"></i>562-496-3274</p>
        <a href="mailto:info@genkiyaki.com" class="genki-email"><i class="fa fa-envelope fa-icons" aria-hidden="true"></i>info@genkiyaki.com</a>
      </div>
      <div class="col-md-3 footer-sub-containers">
        <p class="footer-headings">Follow</p>
        <a href="https://www.yelp.com/biz/genkiyaki-lakewood" target="_blank"><i class="fa fa-yelp fa-2x fa-social-icons"></i></a>
        <a href="https://www.facebook.com/HouseofGenkiyaki/" target="_blank"><i class="fa fa-facebook fa-2x fa-social-icons"></i></a>
        <a href="https://www.instagram.com/genkiyaki/" target="_blank"><i class="fa fa-instagram fa-2x fa-social-icons"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <p class="copyright">©&nbsp;{{ currentYear }} Apex Web Design </p>
      </div>
    </div>
  </div>
  <!--MOBILE -->
  <div class="container mobile-footer">

    <div class="row mobile-footer-row">
      <div class="col-2 text-center mobile-footer-icon-container">
        <i class="fa fa-map-o footer-text mobile-footer-icons mobile-footer-content" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        <div class="mobile-footer-content">
          <p class="footer-text">5526 Del Amo Boulevard</p>
          <p class="footer-text">Lakewood, CA 90713</p>
        </div>
      </div>
    </div>
    <div class="row mobile-footer-row">
      <div class="col-2 text-center mobile-footer-icon-container">
        <i class="fa fa-clock-o footer-text mobile-footer-icons mobile-footer-content" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        <div class="mobile-footer-content">
          <p class="footer-text">Mon - Fri: 11:00 AM - 8:00 PM</p>
          <p class="footer-text">Sun: Closed</p>
        </div>
      </div>
    </div>
    <div class="row mobile-footer-row">
      <div class="col-2 text-center mobile-footer-icon-container">
        <i class="fa fa-phone footer-text mobile-footer-icons mobile-footer-content" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        <div class="mobile-footer-content">
          <p class="footer-text">562-496-3274</p>
        </div>
      </div>
    </div>
    <div class="row mobile-footer-row">
      <div class="col-2 text-center mobile-footer-icon-container">
        <i class="fa fa-envelope-o footer-text mobile-footer-icons mobile-footer-content" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        <div class="mobile-footer-content">
          <p class="footer-text">info@genkiyaki.com</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="copyright">©&nbsp;2017 Apex Web Design </p>
      </div>
    </div>
  </div>

</div>
