<div id="Gallery">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="gallery-heading">Gallery </h1>
  </div>
  <div class="container-fluid picture-container">
    <div *ngFor="let pic of pictureArray; let i = index" class="picture col-2" (click)="pictureClicked(i)" [style.backgroundImage]="'url('+ pic.url +')'">
      <div class="picture-overlay"></div>
    </div>
  </div>
  <div class="plus-sign-container text-center">
    <i class="fa fa-plus fa-4x plus-icon" aria-hidden="true"></i>
  </div>

  <!--------------------- GALLERY MODAL ------------------------------->
  <div class="modal-overlay" style="position: fixed;" *ngIf="showPictureModal">
    <div class="modal-pic-container">
        <div class="close-modal-container">
          <i class="fa fa-times gallery-icons close-modal-icon" aria-hidden="true" (click)="closeModal()"></i>
        </div>
        <div class="left-arrow-container">
          <i class="fa fa-chevron-left gallery-icons left-right-arrows" aria-hidden="true" (click)="leftArrowClicked()"></i>
        </div>
        <div class="gallery-pic-container">
          <img [src]="currentPicURL" class="gallery-pic">
        </div>
        <div class="right-arrow-container">
          <i class="fa fa-chevron-right gallery-icons left-right-arrows" aria-hidden="true" (click)="rightArrowClicked()"></i>
        </div>
    </div>
  </div>
  <!--------------------- GALLERY MODAL END ---------------------------->
</div>
