#Gallery {
  min-height: 900px;
  height: auto;
  background-image: url('../../../assets/taco2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  padding: 100px 0
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
.gallery-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.58);
  padding-bottom: 15px;
  color: white;
  margin-bottom: 30px;
}
.picture-container {
  border: transparent;
  padding: 0;
  min-height: 300px;
  position: relative;
  height: auto;
  font-size: 0;
}
.picture {
  height: 300px;
  border: transparent;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
}

.picture-overlay {
  height: 100%;
  width: 100%;
  transition: 0.2s;
}
.picture-overlay:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
}

.modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}

.plus-sign-container {
  position: relative;
  margin-top: 50px;
}

.plus-icon {
  color: rgba(255,255,255,0.3);
  z-index: 5;
  transition: 0.2s;
}

.plus-icon:hover {
  cursor: pointer;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
}

.modal-pic-container {
  position: relative;
  height: 70vh;
  width: 100vw;
  top: 50%;
  transform: translate(0, -55%);
  padding: 0 10vw;
  font-size: 0;
}

.modal-pic-sub-container {
  height: 100%;
  border: 1px solid red;
}

.gallery-images {
  max-height: 100%;
  position: relative;
  top: 50%;
  transform:translate(0,-50%);
}

.close-modal-container {
  width: 100%;
  height: 75px;
  text-align: right;
  padding-right: 15%;
}

.gallery-pic-container {
  width: 70%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.gallery-pic {
  position: relative;
  max-height: 100%;
  min-height: 80%;
  max-width: 100%;
  min-width: 65%;
  top: 50%;
  transform: translate(0,-50%);
}

.left-arrow-container, .right-arrow-container {
  height: 100%;
  width: 15%;
  vertical-align: top;
  display: inline-block;
  position: relative;
  font-size: 0;
}

.left-right-arrows {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.left-right-arrows:hover {
  color: rgba(57, 207, 255, 0.78);
}

.close-modal-icon:hover {
  color: rgba(255, 28, 28, 0.66);
}

.left-arrow-container {
  text-align: right;
  padding-right: 25px;
}

.right-arrow-container {
  text-align: left;
  padding-left: 25px;
}

.gallery-icons {
  font-size: 75px !important;
  color: white;
  transition: 0.2s;
}

.gallery-icons:hover {
  cursor: pointer;
}
