<div class="top-navbar">
  <div class="container navbar-container  ">
    <div class="row">
      <div class="col-2">
        <a routerLink="/">
          <img src="../../../assets/genkiyaki%20logo.png" alt="genki-logo" class="navbar-genki-logo">
        </a>
      </div>
      <div class="col-10">
        <div class="link-container">
          <a *ngIf="insideMenu" class="nav-links" (click)="returnHome()" routerLink="/">Return Home</a>
          <a *ngIf="!insideMenu" class="nav-links"  routerLink="/">Home</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">About</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">Gallery</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">Location</a>
          <a *ngIf="!insideMenu" class="nav-links" id="menu-link" routerLink="/menu" (click)="menuClicked()">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse mobile-nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Genkiyaki</a>

  <div class="navbar-collapse collapse" id="navbarColor01" aria-expanded="true" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="!insideMenu" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="smoothScrollMobile($event)">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!insideMenu" data-toggle="collapse"  data-target=".navbar-collapse" class="nav-link" (click)="smoothScrollMobile($event)">About</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!insideMenu" data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="smoothScrollMobile($event)">Gallery</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!insideMenu" data-toggle="collapse"  data-target=".navbar-collapse" class="nav-link" (click)="smoothScrollMobile($event)">Location</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!insideMenu" data-toggle="collapse" class="nav-link" id="menu-link" routerLink="/menu" (click)="menuClicked()">Menu</a>
      </li>
      <li class="nav-item">
        <a *ngIf="insideMenu" data-toggle="collapse" class="nav-link" (click)="returnHome()" routerLink="/">Return Home</a>
      </li>
    </ul>
  </div>
</nav>
