<div class="top-navbar">
  <div class="container navbar-container">
    <div class="row">
      <div class="col-2">
        <a routerLink="/">
          <img src="../../../assets/genkiyaki%20logo.png" alt="genki-logo" class="navbar-genki-logo">
        </a>
      </div>
      <div class="col-10">
        <div class="link-container">
          <a class="nav-links" routerLink="/" [routerLinkActive]="['active']">Home</a>
          <a href="#" class="nav-links">About</a>
          <a href="#" class="nav-links">Gallery</a>
          <a class="nav-links" routerLink="/menu">Menu</a>
          <a href="#" class="nav-links">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
