<div class="top-navbar">
  <div class="container navbar-container">
    <div class="row">
      <div class="col-2">
        <a routerLink="/">
          <img src="../../../assets/genkiyaki%20logo.png" alt="genki-logo" class="navbar-genki-logo">
        </a>
      </div>
      <div class="col-10">
        <div class="link-container">
          <a *ngIf="insideMenu" class="nav-links" (click)="returnHome()" routerLink="/">Return Home</a>
          <a *ngIf="!insideMenu" class="nav-links"  (click)="smoothScroll($event)">Home</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">About</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">Gallery</a>
          <a *ngIf="!insideMenu" class="nav-links" (click)="smoothScroll($event)">Contact</a>
          <a *ngIf="!insideMenu" class="nav-links" routerLink="/menu" (click)="menuClicked()">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>
