#Home {
  height: 80vh;
  padding: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}

.fire-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.banner-container {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.sub-banner {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-top: 120px;
}

#genki-logo {
  height: 400px;
}
