#Home {
  height: 80vh;
  padding: 0;
  width: 100vw;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.fire-video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  background-size: cover;
}

.banner-container {
  position: relative;
  top: 50%;
  height: 500px;
  transform: translate(0,-45%);
  -ms-transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  -moz-transform: translateY(-45%);
  -o-transform: translateY(-45%);
}

.sub-banner {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-top: 120px;
}

#genki-logo {
  height: 100%;
}

/*Mobile View*/
@media only screen and (max-device-width: 480px){
  #Home {
    height: 90vh;
    background-image: url('../../../assets/mobile-landing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #genki-logo {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 70%;
    width: 80%;
  }
  .fire-video {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 750px) {
  #Home {
    height: 90vh;
    background-image: url('../../../assets/mobile-landing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #genki-logo {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 55%;
    width: 40%;
  }
  .fire-video {
    display: none;
  }
}
