#Home {
  height: 80vh;
  padding: 0;
  width: 100vw;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
}

.fire-video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.banner-container {
  position: relative;
  top: 50%;
  height: 500px;
  transform: translate(0,-50%);
}

.sub-banner {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-top: 120px;
}

#genki-logo {
  height: 100%;
}

/*Mobile View*/
@media only screen and (max-device-width: 480px){
  #Home {
    height: 90vh;
  }

  #genki-logo {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    height: 50%;
    width: 80%;
  }
}
