<div id="Video">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="border: 1px solid white;">
        <h1 class="video-heading">The Death Taco <img src="../../../assets/risk-skull.png" alt="deathtacoskull" class="deathtacoskull"></h1>
        <p class="video-text">Our Death Taco has been featured in several prominent Youtube channels such as This is Mythical and Foodbeast. Click the button below to view a complete list of numerous other Youtube content creators attempting the Death Taco Challenge!</p>
      </div>
      <div class="col-12 video-container">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/ia4HD4ivbQQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <!--<div class="row" style="border: 1px solid white;">-->

      <!--<a href="https://www.youtube.com/channel/UC2BFx9glnPZ-fK3UPDo3V3A" target="_blank">-->
        <!--<img src="../../../assets/foodbeast.png" alt="foodbeast">-->
      <!--</a>-->

    <!--<a href="https://www.youtube.com/user/rhettandlink4" target="_blank">-->
    <!--<img src="../../../assets/mythical.png" alt="mythical" class="">-->
    <!--</a>-->
    <!--</div>-->


    <!--<div class="video-container">-->
      <!--<iframe width="100%" height="500" src="https://www.youtube.com/embed/9jiESUBKRMw" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
    <!--<img src="../../../assets/manvfood.png" alt="manvfood">-->
  </div>
</div>
