<div id="Video">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="video-heading">The Death Taco Challenge</h1>
        <p class="video-text">Our Death Taco has been featured in several prominent Youtube channels such as This is Mythical and Foodbeast. We have also been featured in a recent episode of Man Vs. Food! Media coverage from the event will be posted soon!</p>
      </div>
      <div class="col-md-12 youtube-link-container">
        <div class="youtube-link-subcontainers">
          <a href="https://www.youtube.com/channel/UC2BFx9glnPZ-fK3UPDo3V3A" target="_blank" >
            <img src="../../../assets/foodbeast.png" alt="foodbeast" class="youtube-logo-links">
          </a>
        </div>
        <div class="youtube-link-subcontainers">
          <a href="https://www.youtube.com/user/rhettandlink4" target="_blank">
            <img src="../../../assets/mythical.png" alt="mythical" class="youtube-logo-links">
          </a>
        </div>
      </div>
      <div class="coming-soon-container col-md-12">
        <img src="../../../assets/manvfood.png" alt="manvfood" class="man-v-food-logo">
      </div>
      <div class="col-12 video-container">
        <iframe width="100%" id="youtube-video" src="https://www.youtube.com/embed/ia4HD4ivbQQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
