#Video {
  height: 1350px;
  background-color: #111111;
  width: 100%;
  padding: 100px 0;
}

.video-text {
  color: white;
  line-height: 3em;
  text-align: justify
}

.video-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.58);
  padding-bottom: 15px;
  color: white;
  margin-bottom: 20px;
}

.video-container {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 15px;
  margin-top: 15px;
}

.youtube-link-container {
  /*border: 1px solid red;*/
  font-size: 0;
  height: 150px;
}

.coming-soon-container {
  height: 175px;
  text-align: center;
  margin: 35px 0;
}

.coming-soon-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  color: #ce3012;
}

.youtube-link-subcontainers {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  position: relative;
  height: 100%;
  /*border: 1px solid white;*/
  text-align: center;
}

.youtube-logo-links {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  width: 80%;
}

#youtube-video {
  height: 500px;
}

@media only screen and (max-device-width: 480px){
  #desktop-youtube {
    display: none;
  }
  .video-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #Video {
    padding: 45px 15px;
    height: 840px;
  }
  .video-text {
    line-height: 2em;
  }
  .youtube-link-subcontainers {
    height: 80%;
  }
  .youtube-link-container {
    height: 50px;
  }
  .youtube-logo-links {
    width: 90%;
  }
  .coming-soon-container {
    margin: 15px 0;
    height: 100px;
  }
  .coming-soon-heading {
    font-size: 18px;
  }
  .man-v-food-logo {
    width: 100%;
  }

  #youtube-video  {
    height: 250px;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 750px) {
  #desktop-youtube {
    display: none;
  }
  .video-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .youtube-link-container {
    height: 85px;
  }
  .coming-soon-container {
    margin-top: 15px;
    height: 100px;
  }
  .coming-soon-heading {
    font-size: 18px;
  }
  .man-v-food-logo {
    width: 100%;
  }
  #Video {
    padding: 45px 15px;
    height: 890px;
  }

  #youtube-video  {
    height: 250px;  
  }
}
