.menu {
  height: auto;
  min-height: 100vh;
  background:url('../../../assets/food.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  min-height: 100vh;
  height: auto;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 150px;
}

.menu-container {
  /*border: 1px solid rgba(255, 255, 255, 0.13);*/
  height: 100%;
  padding: 25px;
}

.menu-heading-row {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.menu-heading {
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 20px;
  font-size: 2em;
  margin: 0;
  color: white;
  padding: 0;
}

.menu-heading-content {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.legend-container {
  padding: 15px 0;
  font-size: 0;
}

.legend-sub-container {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.legend-icon {
  margin-right: 20px;
}

.legend-text {
  font-family: 'Roboto', serif;
  font-size: 15px;
  color: white;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  display: inline-block;
  margin: 0;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

.menu-item-banner:hover, .menu-item-name-container:hover {
  cursor: pointer;
  background-color: white;
  color: #ce3012 !important;
}

.menu-item-name-container:hover:after {
  border-top: 75px solid white;
}

.menu-item-body {
  margin-bottom: 25px;
}

.menu-item-container {
  height: 75px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu-item-name-container {
  height: 100%;
  transition: 0.2s;
  position: relative;
  background-color: #ce3012;
  color: white;
}


.menu-item-name-container:after {
  border-right: 80px solid transparent;
  border-top: 75px solid #ce3012;
  content: "";
  height: 100%;
  position: absolute;
  right: -80px;
  top: 0;
  transition: 0.2s;
  width: 1px;
  z-index: 2;
}

.menu-item-picture-container {
  background-size: 100%;
  background-position: center;
  height: 100%;
}

.bowls-background-picture {
  background-image: url('../../../assets/bowl.jpg');
}

.plates-background-picture {
  background-image: url('../../../assets/bbqplate.jpg');
}

.furious-background-picture {
  background-image: url('../../../assets/chxplate.jpg');
}

.menu-item-heading {
  font-size: 30px;
  font-family: 'Stint Ultra Expanded', cursive;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  margin: 0;
}

.menu-item-name-subcontainer {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.menu-item-text-subcontainer {
  padding: 5px 25px;
  min-height: 100px;
  height: auto;
  background-color: White;
  display: none;
}

.menu-item-text {
  height: 100%;
  font-size: 0;
}

.regular-large-text-container {
  height: 50px;
  width: 100%;
  vertical-align: top;
  border-bottom: 1px solid rgba(206, 48, 18, 0.53);
}

.regular-large-empty-div {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.regular-large-text-subcontainer {
  height: 100%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.regular-large-text {
  color: #ce3012;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.menu-item-row {
  height: 50px;
  width: 100%;
  vertical-align: top;
  margin: 15px 0;
}

.menu-item {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.menu-item *{
  font-family: 'Roboto Slab', serif;
}

.food-item-text-pic-container {
  position: relative;
  top: 50%;
  transform:translate(0,-50%);
}

.food-text {
  color: #ce3012;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.recommended-icon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.food-reg-lg-price-text-container {
  height: 100%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.food-reg-lg-price-text {
  color: #292929;
  font-size: 25px;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.plus-minus-icons {
  font-size: 25px;
}

#BowlsBody {
  display: block;
}

.food-description {
  margin-left: 10px;
  color: #292929;
  font-size: 12px;
}

.category-description {
  color: #ce3012;
  font-size: 18px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

