<div class="menu">
  <div class="overlay">
    <div class="container menu-container">
      <h1 class="menu-heading">Menu</h1>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
      <div class="row" style="border: 1px solid yellow; margin-bottom: 25px;">
        <div class="col-12" style="border: 1px solid red; height: 75px;"></div>
      </div>
    </div>
  </div>
</div>
